openapi: 3.1.0
info:
  contact:
    email: support@rixl.com
    name: RIXL Support
    url: https://rixl.com/support
  description: |-
    **Build a powerful video experience from on-demand streaming to dynamic social feeds with a single API.**

    RIXL handles video processing, ingestion and global delivery so you don't have to.
    With builtin support for transcoding, storage and structured media feeds, Our API makes it easy to deliver high-quality media content at scale.
  license:
    name: All Rights Reserved
    url: https://rixl.com/terms-of-service
  title: RIXL API
  version: "2.0"
externalDocs:
  description: ""
  url: ""
servers:
- url: https://api.rixl.com/
tags:
- description: "**Deliver fast, perfectly formatted images.**<br><br>RIXL automatically\
    \ handles image optimization, format conversion, and ThumbHash generation. All\
    \ images are served via our global CDN for an ideal user experience."
  name: images
paths:
  /images:
    get:
      description: "Retrieve all images for a specific project, with pagination and\
        \ sorting."
      operationId: get_images
      parameters:
      - description: Maximum number of items to return in a single request. <br> **Default:**
          `25`
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Starting point of the result set. <br>To get page 2 with a limit\
          \ of 25, set `offset` to `25`. <br> **Default:** `0`"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: "Field to sort by (created_at, name, size, updated_at)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order (asc, desc)"
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pagination.PaginatedResponse-Image"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Invalid query parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Internal server error
        x-order: 2
      security:
      - ApiKeyAuth: []
      summary: List images for a project
      tags:
      - images
  /images/upload/complete:
    post:
      description: Complete the upload process and create the image record using API
        key authentication
      operationId: post_images_upload_complete
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_images_upload_complete_request"
        description: Upload completion request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Unauthorized - Invalid API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: File not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Failed to complete upload or create image
        x-order: 4
      security:
      - ApiKeyAuth: []
      summary: "Upload: Mark as complete"
      tags:
      - images
  /images/upload/init:
    post:
      description: Initialize a presigned URL upload for an image file using API key
        authentication
      operationId: post_images_upload_init
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_images_upload_init_request"
        description: Upload initialization request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/internal_images_handler.initResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Unauthorized - Invalid API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Access denied
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Failed to initialize upload
        x-order: 3
      security:
      - ApiKeyAuth: []
      summary: "Upload: Init"
      tags:
      - images
  /images/{imageId}:
    delete:
      description: delete an image by marking it as deleted
      operationId: delete_images_imageId
      parameters:
      - description: Image ID
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Image deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Invalid project ID or image ID
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Image not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Failed to delete image
        x-order: 5
      security:
      - ApiKeyAuth: []
      summary: Delete image
      tags:
      - images
    get:
      description: Retrieve an image by its ID for a specific project.
      operationId: get_images_imageId
      parameters:
      - description: Image ID
        explode: false
        in: path
        name: imageId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Invalid image ID
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Image not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/github_com_qeeqez_api_internal_errors.ErrorResponse"
          description: Internal server error
        x-order: 1
      security:
      - ApiKeyAuth: []
      summary: Get image
      tags:
      - images
components:
  schemas:
    File:
      example:
        size: 1048576
        updated_at: 2025-01-01T00:00:00Z
        project_id: Bq4y3QB38S
        format: avif
        name: original.jpeg
        created_at: 2025-01-01T00:00:00Z
        id: FpvLwyDMqu
        url: https://images.rixl.com/Bq4y3QB38S/FpvLwyDMqu
        status: ready
      properties:
        created_at:
          example: 2025-01-01T00:00:00Z
          type: string
        format:
          example: avif
          type: string
        id:
          example: FpvLwyDMqu
          type: string
        name:
          example: original.jpeg
          type: string
        project_id:
          example: Bq4y3QB38S
          type: string
        size:
          example: 1048576
          type: integer
        status:
          $ref: "#/components/schemas/FileStatus"
        updated_at:
          example: 2025-01-01T00:00:00Z
          type: string
        url:
          example: https://images.rixl.com/Bq4y3QB38S/FpvLwyDMqu
          type: string
    FileStatus:
      enum:
      - uploading
      - uploaded
      - processing
      - preparing
      - ready
      - error
      example: ready
      type: string
      x-enum-comments:
        FileStatusError: "error happened, file is corrupt"
        FileStatusProcessing: asset is currently processing Other
        FileStatusReady: file is ready to consume
        FileStatusUploaded: upload finished
        FileStatusUploading: upload is currently happening
      x-enum-varnames:
      - FileStatusUploading
      - FileStatusUploaded
      - FileStatusProcessing
      - FileStatusPreparing
      - FileStatusReady
      - FileStatusError
    Image:
      example:
        file:
          size: 1048576
          updated_at: 2025-01-01T00:00:00Z
          project_id: Bq4y3QB38S
          format: avif
          name: original.jpeg
          created_at: 2025-01-01T00:00:00Z
          id: FpvLwyDMqu
          url: https://images.rixl.com/Bq4y3QB38S/FpvLwyDMqu
          status: ready
        attached_to_video: false
        width: 1920
        id: PS5IMKoFLm
        height: 1080
        thumbhash: 1QcSHQRnh493V4dIh4eXh1h4kJUI
      properties:
        attached_to_video:
          example: false
          type: boolean
        file:
          $ref: "#/components/schemas/File"
        height:
          example: 1080
          type: integer
        id:
          example: PS5IMKoFLm
          type: string
        thumbhash:
          example: 1QcSHQRnh493V4dIh4eXh1h4kJUI
          type: string
        width:
          example: 1920
          type: integer
    github_com_qeeqez_api_internal_errors.ErrorResponse:
      description: Standard error response returned by the API
      example:
        code: 400
        details: The provided ID is not valid
        error: Invalid request
      properties:
        code:
          description: HTTP status code
          example: 400
          type: integer
        details:
          description: Optional details about the error
          example: The provided ID is not valid
          type: string
        error:
          description: Error message describing what went wrong
          example: Invalid request
          type: string
    internal_images_handler.completeRequest:
      properties:
        attached_to_video:
          example: false
          type: boolean
        image_id:
          example: PS5IMKoFLm
          type: string
    internal_images_handler.initResponse:
      example:
        upload_expires: 1640995200
        presigned_url: https://images.rixl.com/Bq4y3QB38S/PS5IMKoFLm?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAEXAMPLE%2F20250831%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250831T103000Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b228dbec8c1008c80c162e1210e4503dceead1e4d4751b4d9787314fd6da4d55
        image_id: PS5IMKoFLm
      properties:
        image_id:
          example: PS5IMKoFLm
          type: string
        presigned_url:
          example: https://images.rixl.com/Bq4y3QB38S/PS5IMKoFLm?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAEXAMPLE%2F20250831%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250831T103000Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b228dbec8c1008c80c162e1210e4503dceead1e4d4751b4d9787314fd6da4d55
          type: string
        upload_expires:
          example: 1640995200
          type: integer
    internal_images_handler.uploadInitRequest:
      properties:
        format:
          example: jpg
          type: string
        name:
          example: my-image.jpg
          type: string
    pagination.PaginatedResponse-Image:
      example:
        pagination:
          total: 1000
          offset: 50
          limit: 100
        data:
        - file:
            size: 1048576
            updated_at: 2025-01-01T00:00:00Z
            project_id: Bq4y3QB38S
            format: avif
            name: original.jpeg
            created_at: 2025-01-01T00:00:00Z
            id: FpvLwyDMqu
            url: https://images.rixl.com/Bq4y3QB38S/FpvLwyDMqu
            status: ready
          attached_to_video: false
          width: 1920
          id: PS5IMKoFLm
          height: 1080
          thumbhash: 1QcSHQRnh493V4dIh4eXh1h4kJUI
        - file:
            size: 1048576
            updated_at: 2025-01-01T00:00:00Z
            project_id: Bq4y3QB38S
            format: avif
            name: original.jpeg
            created_at: 2025-01-01T00:00:00Z
            id: FpvLwyDMqu
            url: https://images.rixl.com/Bq4y3QB38S/FpvLwyDMqu
            status: ready
          attached_to_video: false
          width: 1920
          id: PS5IMKoFLm
          height: 1080
          thumbhash: 1QcSHQRnh493V4dIh4eXh1h4kJUI
      properties:
        data:
          description: Data contains the slice of items for the current request.
          items:
            $ref: "#/components/schemas/Image"
          type: array
          uniqueItems: false
        pagination:
          $ref: "#/components/schemas/pagination.Pagination"
    pagination.Pagination:
      description: Pagination data for the request.
      example:
        total: 1000
        offset: 50
        limit: 100
      properties:
        limit:
          default: 25
          description: Maximum number of items to return in a single request.
          example: 100
          maximum: 100
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Starting point of the result set.
          example: 50
          minimum: 0
          type: integer
        total:
          description: The total number of available items in the full list.
          example: 1000
          minimum: 0
          type: integer
    post_images_upload_complete_request:
      oneOf:
      - type: object
      - allOf:
        - $ref: "#/components/schemas/internal_images_handler.completeRequest"
        description: Upload completion request
        summary: request
    post_images_upload_init_request:
      oneOf:
      - type: object
      - allOf:
        - $ref: "#/components/schemas/internal_images_handler.uploadInitRequest"
        description: Upload initialization request
        summary: request
  securitySchemes:
    ApiKeyAuth:
      description: Internal API key for service-to-service communication.
      in: header
      name: X-API-Key
      type: apiKey
